@using Logic
@{
    Layout = "~/Views/_Layout.cshtml";
}

@section Styles
{
    <link href="~/Content/Style.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-calendar.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
}

@section Scripts
{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/Script.min.js"></script>
    <script src="~/Scripts/bootstrap-calendar.min.js"></script>
    @RenderSection("Scripts", false)
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Dashboard")">@AppSettings.CompanyName Intranet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                <li class="dropdown">
                    @{
                        HREntities hrEntities = new HREntities();
                        var userID = new Guid(Session["EmployeeID"].ToString());
                        Employee currentUser = hrEntities.Employees.SingleOrDefault(e => e.ID == userID);
                        var pendingApplications = currentUser.Subordinates.SelectMany(so => so.EmployeeLeaveRequests).Count(elr => elr.EmployeeLeaveRequestStatusChanges.Count() == 0);
                    }
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Leave @if (pendingApplications > 0)
                        {
                            <span class="badge">@pendingApplications</span>
                        }<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Book", "Leave")">Book Leave</a></li>
                        <li><a href="@Url.Action("Index", "Leave")">View Leave</a></li>
                        <li><a href="#">Leave Calendar</a></li>
                        @if (pendingApplications > 0)
                        {
                            <li><a href="@Url.Action("Pending", "Leave")">Approve Leave <span class="badge">@pendingApplications</span></a></li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Directory</a></li>
                        <li><a href="#">Chart</a></li>
                        <li><a href="#">Book Resource</a></li>
                    </ul>
                </li>

                @if (Convert.ToBoolean(Session["IsAdmin"]))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("AddUser", "Admin")">Add New User</a></li>
                            <li><a href="@Url.Action("GiveLeave", "Admin")">Give Leave Days</a></li>
                            <li><a href="#">Force Leave</a></li>
                        </ul>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, <strong>@Session["Name"]</strong> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Profile", "User")">Edit Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout", "User")">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    @RenderBody()
</div>