@{
    Layout = "~/Views/_Layout.cshtml";
}

@section Styles
{
    <link href="~/Content/Style.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
}

@RenderSection("Scripts", false)


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Dashboard")">@Logic.AppSettings.CompanyName Intranet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leave <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Book", "Leave")">Book Leave</a></li>
                        <li><a href="#">View Leave</a></li>
                        <li><a href="#">Leave Calendar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Directory</a></li>
                        <li><a href="#">Chart</a></li>
                    </ul>
                </li>
                @if (Convert.ToBoolean(Session["IsAdmin"]))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("AddUser", "Admin")">Add New User</a></li>
                        </ul>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, <strong>@Session["Name"]</strong> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Profile", "User")">Edit Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout", "User")">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    @RenderBody()
</div>